* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #6f6e6d;
  height: 70px;
  font-size: 30px;
  color: white;
  font-family: Lucida;
  vertical-align: center;
}
aside {
    height: 100%;
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #bfbab6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
